@import url('./normalize.css');

.form__input {
    border: 1px solid black;
}

.btn {
    border: 1px solid black;
    padding: 2px 5px;
}

.canvas {
    position: relative;
    overflow: hidden;

    border: 1px solid gray;
}

.shape {
    position: absolute;
    border: 1px solid black;
}

.triangle {
    border-style: solid;
    border-color: transparent;
    border-bottom-color: rgba(0, 0, 255, 0.5);
}

.triangle_highlighted {
    border-bottom-color: #eeef10;
}

.circle {
    border-radius: 50%;
    background-color: rgba(0, 255, 0, 0.5);
}

.square {
    background-color: rgba(255, 0, 0, 0.5);
}

.shape_highlighted {
    background-color: #eeef10;
}
